{% extends 'game/pattern.html' %}
{% block title %}<title>{{ day }}</title>
<h1>Результаты игр {{ day }}</h1>
{% endblock %}

{% block content %}
<ul>
    {% for game in object_list %}
        <li>{{ game.game_date|date:"Y-m-d" }}: {{ game.team_home }} {{ game.score_home }}:{{ game.score_visitor }} {{ game.team_visitor }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_day %}
        Previous Day: {{ previous_day }}
    {% endif %}
    {% if previous_day and next_day %}--{% endif %}
    {% if next_day %}
        Next Day: {{ next_day }}
    {% endif %}
</p>
{%  endblock %}