<div class="listElement">

    {%if game.is_win == 1 %}
        <div class="team winner">
    {% else %}
    <div class="team">
    {% endif %}
        <img src="{% static game.team_home.logo %}" alt="logo" width="50">
        <p>{{ game.team_home }}</p>
    </div>

    <div class="gameInfo">
        <p class="score">{{ game.score_home }}  -  {{ game.score_visitor }}</p>
    </div>

    {%if game.is_win == 0 %}
        <div class="team winner">
    {% else %}
        <div class="team">
    {% endif %}
        <p>{{ game.team_visitor }}</p>
        <img src="{% static game.team_visitor.logo %}" alt="logo" width="50">
    </div>
    <div class="date">
        <p>{{ game.game_start_utc|date:"d.m.Y" }} </p>
        <p>{{ game.game_start_utc|time:"H:i" }} </p>
    </div>
</div>
