{% extends 'game/pattern.html' %}
{% block title %} <title> {{ day|date:"d.m.Y" }} </title>
<a href="{% url 'today_archive_day' %}"> Календарь </a>
<h2>Результаты игр {{ day|date:"Y-m-d" }}</h2>
{% endblock %}

{% block content %}
<ul>
    {% for game in object_list %}
        <li>{{ game.game_date|date:"Y-m-d" }}: {{ game.team_home }} {{ game.score_home }}:{{ game.score_visitor }} {{ game.team_visitor }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_day %}
        <a href="{% url 'archive_day' previous_day.year previous_day.month previous_day.day %}">Previous Day {{ previous_day|date:"Y-m-d" }}</a>
    {% endif %}
    {% if previous_day and next_day %}--{% endif %}
    {% if next_day %}
        <a href="{% url 'archive_day' next_day.year next_day.month next_day.day %}">Next Day {{ next_day|date:"Y-m-d" }}</a>
    {% endif %}
</p>
{%  endblock %}