{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> {{ object.name }} </title>
{% endblock %}

{% block content %}
    <h2>Championship {{ object.name }}</h2>

    <div class="pagination">
        <span class="step-links">
            {% if object.get_previous %}
                <a href={% url 'championship-detail' object.get_previous.pk %}> {{ object.get_previous.start }} </a>
            {% endif %}
            {% if object.get_next %}
                <a href={% url 'championship-detail' object.get_next.pk %}> {{ object.get_next.start }} </a>
            {% endif %}
        </span>
    </div>


    <div class="game">
        <div class="container">
            <table>
                <tr>
                    <th>Место</th>
                    <th>Прогнозист</th>
                    <th>Угадано</th>
                    <th>Процент</th>
                    <th>Рейтинг</th>
                </tr>
                {% for row in table %}
                    <tr>
                        <td> {{ forloop.counter }} <td/>
                        <td> {{ row.name }} </td>
                        <td> {{ row.res }} from {{ row.total }} </td>
                        <td> {{ row.percent|floatformat:2 }}% </td>
                        <td> {{ row.rating|floatformat:3 }} </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="list">
                {% for game, predict_win, predict_lose in predicts %}
                    {% include 'game/game_row.html' %}
                    {{ predict_win }} ---- {{ predict_lose }}
                {% empty %}
                    <div>Sorry, no games available</div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
