# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\education\project\nba_predict\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
